node_modules/
.svelte-kit/
build/
.vercel/
.next/
out/
dist/
.env
.env.*
.env.local
.env.production
.env.production.local
*.tsbuildinfo
_backup_nextjs/

.vercel
src_svelte_backup/
static_svelte_backup/
package_svelte.json
package-lock_svelte.json
tsconfig_svelte.json
vite.config_svelte.ts
